.home-back {
  background-color: sandybrown;
  min-height: 100vh;
}
.allCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.selectors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.selectors-items {
  font-size: 20px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: inherit;
  font-family: inherit;
  margin: 10px;
  align-items: center;
}

.random-pos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.random-button {
  background-color: inherit;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  width: 300px;
  height: 100px;
  margin: 0;
  position: relative;
  top: auto;
  /* left: 800px; */
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
