.container {
  display: flex;
  height: 100%;
  width: 100%;
}
.Input {
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
  height: 30px;
  margin-top: 15px;
  width: 300px;
  border: 2px solid #fbfbfb;
  background-color: transparent;
  color: #ffffff;
}
.button-search {
  padding: 10px;
  margin: 10px;
  width: 100px;
  font-size: large;
  border-radius: 5px;
  border: 2px solid #000000;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button-search:hover {
  background-color: #f7f7f7;
  color: rgb(0, 0, 0);
  border: 2px solid #ffffff;
}
